body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 12px;
}

figcaption cite {
    display: flex;
    justify-content: right;
}

.navigation {
    display: flex;
    gap: 24px;
}

.container {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header p,
.right-side p {
    color: #F9FAF8;
    font-weight: 700;
}

.section-1,
.footer {
    background-color: #1f2937;
}

.section-1-content {
    display: flex;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
    padding-bottom: 0;
}

.secondary-text,
.navigation li {
    font-size: 18px;
    color: #E5E7Eb;
}

.left-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.right-side {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.section-2-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    padding-top: 20px;
}

.section-3 {
    background-color: #E5E7Eb;
}

.section-4 {
    display: flex;
}


/* .section-4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.section-4-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
}

.box-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 150px;
    width: 150px; */
}

.box img {
    border-radius: 25px;
    border: 4px solid blue;
    padding: 50px;
    height: 75px;
    width: 75px;
    flex: 1;
}

.box p {
    text-align: center;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
}